@import "reset";

@mixin button ($color) {
  border: 1px solid $color;
  background: none;
  color: $color;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: .3s;
  &:hover {
    background-color: $color;
    color: darken($color, 100%);
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1176px;
  margin: auto;
}

header {
  background: url("../images/background.jpg") center;
  background-size: cover;
  height: 500px;
  text-align: center;
  padding-top: 200px;
  width: 100%;
}

h1{
  text-align: center;
  font-size: 70px;
  color: rgba(49, 18, 33, 0.8);
  font-weight: 700;
}

main {
  flex-grow: 1;
  background-color: #150909;
}

.form {
  background-color: #150909;
  padding: 50px 0;
}

.form__title {
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}

.choose-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.choose-form__item {
  width: 20%;
  &.submit {
    @include button(white);
  }
}

.choose-form__select {
  width: 100%;
  padding: 10px;
}

.choose-form__label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.news {
  background-color: white;
}

.news__title {
  display: none;
  color: #150909;
  font-size: 36px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 60px;
}

.news__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  width: 30%;
  background-color: rgba(248, 244, 219, 0.3);
  margin-bottom: 50px;
  padding: 30px 20px;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=0, Color=#150909)";/*IE 8*/
  -moz-box-shadow: 0 0 16px rgba(21,9,9,0.6);/*FF 3.5+*/
  -webkit-box-shadow: 0 0 16px rgba(21,9,9,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 16px rgba(21,9,9,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=135, Color=#150909); /*IE 5.5-7*/
}

.article__author {
  width: 100%;
  top: 5px;
  right: 0;
  text-align: right;
  padding-right: 5px;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  color: brown;
}

.article__title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: normal;
}

.article__description {
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 15px;
}

.article_show-more {
  @include button(#150909);
  padding: 5px 10px;
  text-transform: lowercase;
  font-size: 15px;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  &:hover {
    color: white;
  }
}

.article__body {
  display: none;
}

.article__img {
  width: 100%;
  margin-bottom: 15px;
}

.article__content {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  max-width: 100%;
  overflow: hidden;
}

.article__href {
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: right;
  text-decoration: underline;
  font-weight: 300;
  color: brown;
  font-size: 14px;
}

footer {
  background-color: #150909;
  padding: 30px 0;
  text-align: left;
  a {
    color: white;
  }
}

@media screen and (max-width: 1180px){
  .wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px){
  .article {
    width: 46%;
  }
}

@media screen and (max-width: 600px){
  .choose-form {
    flex-direction: column;
    align-items: center;
  }
  .choose-form__item {
    width: 300px;
    margin-bottom: 20px;
  }
  .form {
    padding: 30px 0;
  }
}

@media screen and (max-width: 500px){
  .article {
    width: 100%;
  }
}

@media screen and (max-width: 400px){
  header {
    height: auto;
    padding-top: 0;
  }
  h1 {
    font-size: 40px;
    padding: 50px 0;
  }
  .form__title {
    font-size: 25px;
    line-height: normal;
  }
  .news__title {
    font-size: 25px;
    padding-top: 30px;
    margin-bottom: 40px;
  }
}